body
{
  margin: 0;
  background: #dddccc;
  color: #3D3939;
  font-size: 22px;
}


// Header Styles
.header
{
  border-top: 10px solid #3D3939;
  h1
  {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    @media screen and (max-width: 960px){
      margin-bottom: 10px;
    }
  }
  blockquote
  {
    .Playfair();
    //border: 2px solid black;
    //border-bottom: 2px solid black;
    //padding: 25px 50px;
    //background: #eee;
    width: 100%;
    display: block;
    color: #aa5a5a;
    section
    {
      padding: 25px 50px;
      max-width: 450px;
      display: block;
      margin: 0 auto;
      @media screen and (max-width: 960px){
        padding: 10px;
      }
    }
    cite
    {
      display: block;
      width: 100%;
      text-align: right;
    }
    p
    {
      font-style: italic;
      &:first-child
      {
        margin-left: -5px;
      }
    }
  }
}

// The footer and stuff
footer
{
  padding: 20px 0;
  background: #cAc5af;
  ul
  {
    width: 150px;
    display: block;
    margin: 0 auto;
    li
    {
      display: inline-block;
      margin-right: 15px;
    }
  }
  p
  {
    text-align: center;
    .Crimson(1rem, bolder, normal);
  }
}
