a
{
  text-decoration: none;
  color: @dark;
  .transition(color @transition-time);

  &:hover
  {
    color: lighten( @dark, 10%);
  }
}

p, span
{
  line-height: 1.5em;
}

.apos-content > div:not(.apos-slideshow):not(.apos-widget),
.apos-editable > div:not(.apos-slideshow):not(.apos-widget),
{
  padding: 1em;
  @media screen and (max-width: 960px){
    padding: 1em 0;
  }
}

.apos-content, .apos-editable
{
  & > ul
  {
    margin-left: 2em;
    li {
      list-style-type: square;
    }
  }

  pre
  {
    font-family: "Courier New", monospace;
    padding: 1em;
  }
}
